@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

/* BASE STYLE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

/* SEARCH BOX */
input {
  height: 50px;
  width: 600px;
  padding: 0px 40px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-image: url('../img/searchicon.png');
  background-position: 10px 15px;
  background-repeat: no-repeat;
}

#search-header {
  margin: 0 2em 10px 0;
}

.search-results ul {
  list-style: none;
  padding-bottom: 10px;
}

.search-results ul li a{
  padding: 0px 3px;
  font-size: 18px;
  color: #fff;
}

.clear-search-results {
  font-size: 0.9em;
  background-color: #fff;
  border-radius: 4px;
  line-height: 16px;
  padding: 7px 10px;
  text-align: center;
  width: 170px;
  cursor: pointer;
  border: none;
}

/* DOCS */
.docs-head {
  display: flex;
  justify-content: center;
  background-color: #F29400;
  color: #fff;
  padding: 1rem 0;
}

.docs-head h1 {

  font-size: 3rem;
}

.docs-head p {
  font-size: 20px;
}

.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
  list-style-type: none;
}

.docs-main a:hover {
  font-weight: bold;
}

/* LIKE / DISLIKE */
.btn-center {
  text-align: center;
}

.like{
	width: 30px;
	height: 30px;
  margin: 5px;
	border-radius: 50%;
	color: #06b66c;
	background-color:rgba(201,248,222,.7);
	border-color: #06b66c;
	border-width: 1px;
	font-size: 15px;
}

.dislike{
	width: 30px;
	height: 30px;
	margin: 5px;
	border-radius: 50%;
	color: #f4495d;
	background-color: rgba(254,189,197,.4);
	border-color: #f4495d;
	border-width: 1px;
	font-size: 15px;
}

/* USEFUL CLASS */
.container {
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  margin: 20px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.card ul {
  padding-left: 3rem;
}

.card .orange {
  color: #F29400;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}

.card .btn-center {
  padding: 10px 0px;
}

.card-1 {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  width: 440px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-primary {
  color: #F29400;
}

.m-3 {
  margin: 3rem 0;
}

.bg-grey {
  background-color: #f4f4f4;;
}

.p-2 {
  padding: 2rem;
}

/* TABLETS */
@media (max-width: 768px) {
  .docs-main .grid {
    grid-template-columns: 1fr;
  }

  input {
    width: 400px;
  }

  .docs-main img {
    width: 300px;
  }

  .docs-main .small {
    width: 50px;
  }

  .export img{
    display: none;
  }
  .primary {
    margin: 0;
  }
}

/* MOBILE */
@media (max-width: 500px) {
  .docs-head h1 {
    text-align: center;
    font-size: 2rem;
  }
  .docs-head p{
    text-align: center;
    font-size: 15px;
  }
  .search-input {
    display: none;
  }

  .card-1 {
    width: 330px;
  }

  .card {
    width: 330px;
  }

  .card img{
    width: 150px;
  }

  .card .video{
    display: none;
  }

  #clear-search-results-mobile {
    display: block;
    font-size: 1.3em;
    padding: 10px 15px;
    margin: 0 0 20px 0;
  }

  .search-results ul {
    margin: 0;
  }
  .clear-search-results {
    display: none;
  }
}

/* Support-On-Air-Desk-V1 AND Support-Proactive-vs.-Reactive-V2 */
.video {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.export {
  float: right;
}

.yellow {
  background: yellow;
  color: #333;
}

mark {
  background: #F29400;
  color: #333;
}
